 <!--main content wrapper-->
 <div class="content-wrapper">

    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                      
                           

<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Replace Url</h1>
       
      </div>


   
<div>

<div class="container">
<table class="table table-bordered table-hover table-responsive-sm">
<thead>

</thead>
<tbody>

<div class="container-fluid">

<div class="text-center"> 

<form action="/action_page.php">
<div class="form-group">
<label for="email"><h3 ><b>Find</b></h3></label>
<input type="email" class="form-control" id="email" style="border-color: black;">

<h3><b>Replace</b></h3>
<input type="email" class="form-control" id="email"style="border-color: black;">
</div>

      <button type="button" class="btn btn-outline-dark btn-lg btn-block form-pill">&nbsp;&nbsp;Save</button>

 </form>
    </div> 

</div>


</tbody>
</table>
</div>



 </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!--/sales monitor-->

        <!--member performance & support ticket-->
       
        <!--/member performance & support ticket-->

        

    <!--footer-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright &copy; Dealsbhejo.com</small>
            </div>
        </div>
    </footer>
    <!--/footer-->
</div>
<!--/main content wrapper-->