<div class="page_data">

    <!--main content wrapper-->
    <div class="content-wrapper">

        <div class="container-fluid">

    
            <div class="row">
                <div class="col-12">
                    <div class="card card-shadow mb-5">
                        <div class="card-header border-0">
                            
                               
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="h4 mb-0 text-gray-800">Footer Text (That will post with each deal you convert/direct share)</h4>
 
          </div>

<div class="container">
<div class="form-group">
 
  <textarea class="form-control" rows="5" id="footer_text"> </textarea>
   <h5 align="left"><b>After how many post:</b></h5>
        <div class="col-md-12">
            <input type="number" id="after_post" min="1" value="1">       
      
        </div> 

</div><table class="table table-bordered table-hover table-responsive-sm">
<thead>

</thead>
<tbody>




</tbody>
    </table>
</div>
<div>
 <h5 align="left"><b>Post to Whatsapp</b></h5>

<label class="switch">
  <input type="checkbox" id="whatsapp">
  <span class="slider round danger"></span>
    </label>

 <h5 align="left"><b>Post to Telegram</b></h5>

<label class="switch">
  <input type="checkbox" id="telegram">
  <span class="slider round danger"></span>
    </label>


  <input type="submit" class="btn btn-outline-dark btn-lg btn-block form-pill" value="Save" id="save">



   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/sales monitor-->

            <!--member performance & support ticket-->
           
            <!--/member performance & support ticket-->

            

        <!--footer-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Autoaffiliate.in</small>
                </div>
            </div>
        </footer>
        <!--/footer-->
  
        

</div></div></div>