<div class="page_data">
    <!--main content wrapper-->
    <div class="content-wrapper">

<div class="container-fluid">


    <div class="row">
        <div class="col-12">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                  
                        <div class="custom-title"><b><h3>Convert your deals without your url</h3></b></div>


                        <div>
                            <h5 style="color:black; font-size: 15px;" >Url where your script hosted</h5>

                            <input type="text" class="form-control" id="url" value="" required="">

                            <h5 style="color:black; font-size: 15px; " >Admin username</h5>

                            <input type="text" class="form-control" id="username" value="" required="">

                            <h5 style="color:black; font-size: 15px;" >Admin password</h5>

                            <input type="text" class="form-control" id="password" value="" required="">

                            <br>
                            <br>

                            <h5 style="color:black; font-size: 15px;" align="left">Amazon Links in your shortner</h5>

                            <label class="switch">
                            <input type="checkbox" id="amazon_yourls" value="1">
                                <span class="slider round"></span>
                            </label>

                            <h5 style="color:black; font-size: 15px; " >Flipkart Links in your shortner</h5>

                            <label class="switch">
                            <input type="checkbox" id="flipkart_yourls" value="1">
                                <span class="slider round"></span>
                            </label>

                            <h5 style="color:black; font-size: 15px; ">Other Links in your shortner</h5>

                            <label class="switch">
                            <input type="checkbox" id="other_yourls" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="text-center">

                            <input type="submit" class="btn btn-outline-dark btn-lg btn-block form-pill" value="Save" id="save">
                                <br>
                            </div>


                        
                    </div>
                </div>
            </div>
        </div>
        <!--/sales monitor-->
        <!--member performance & support ticket-->
        <!--/member performance & support ticket-->
        <!--footer-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Autoaffiliate.in</small>
                </div>
            </div>
        </footer>

        

</div></div></div></div>