<div class="page_data">
    
    <!--main content wrapper-->
    <div class="content-wrapper">

        <div class="container-fluid">

    
            <div class="row">
                <div class="col-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                           
                               

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add Telegram Here</h1>
           
          </div>

     
<div class="container">
<div class="container">
 
 <a href="#" onclick="bottoken()" class="btn btn-success" style="font-size: 20px;"><i class="fas fa-plus-square"></i>&nbsp;Add</a>
<br><br>
<a href="#" onclick="telegram_help()" class="btn btn-danger" style="font-size: 20px;"><i class="fas fa-question"></i>&nbsp;Help</a>
       
    </div><table class="table table-bordered table-hover table-responsive-sm">
<thead>

</thead>
<tbody>

 </tbody></table>                

    <div class="container-fluid">

         <div class="table-responsive-sm">
         <table class="table">

<thead>
  <tr>
    <th scope="col">S.No</th>
    <th scope="col">Channel Name</th>     
    <th scope="col">Bot Token</th>  
    <th scope="col">Status</th>
  </tr>
</thead>
<tbody>


        <tr>
        <td colspan="5">You don't have added bot token yet!</td>
        </tr>    
        </tbody>


</table>
</div>



     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/sales monitor-->

            <!--member performance & support ticket-->
           
            <!--/member performance & support ticket-->

            

        <!--footer-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Autoaffiliate.in</small>
                </div>
            </div>
        </footer>
   
</div></div></div></div>