<div class="page_data">
    <!--main content wrapper-->
    <div class="content-wrapper">
    
        <div class="container-fluid">
    
    
            <div class="row">
                <div class="col-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                           
    
    
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Convertor</h1>
    
                                </div>
                                <p class="search_box">
                                <input type="text" id="search" class="form-control form-pill search-input" placeholder="Search"><br><br>
                                </p>
                                <div class="container-dark">
                                    <div class="row" id="converted_results">
                                        
                                    </div>
                                </div>
                                <br><br>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <button type="button" id="loader_message" class="btn btn-dark form-pill" style="display: inline-block;"><button data-atr="nodata" class="btn btn-default bg-white" type="button">No more records.</button></button>
                                        </li>
                                    </ul>
                                </nav>
    
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!--footer-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Autoaffiliate.in</small>
                </div>
            </div>
        </footer>
     
    
    
    
    
    </div></div>