<div class="page_data">
    <style>
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>
    <meta http-equiv="Expires" content="Tue, 01 Jan 1995 12:12:12 GMT">
    <meta http-equiv="Pragma" content="no-cache">
        <!--main content wrapper-->
        <div class="content-wrapper">
    
            <div class="container-fluid">
    
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Whatsapp Login</h1>
              </div>
    
         
       </div>
    
            <div>
    
    <div class="container">
        <div class="form-group">
     
       <img src="assets\whatsapp.jpg" class="img-fluid" alt="Responsive image" style="height: 30px; width: 30px;">
    
           <div>
    
    <h3 style="color: red; font-size: 20px;">IF THIS IS YOUR FIRST TIME WITH OUR WHATSAPP SERVIECE THAN FOLLOW BELLOW STEPS:</h3>
    <br><br>
               <h4 style="color: black; font-size: 15px;"><b>1. Go to WHATSAPP &gt; ACTIVE WHATSAPP GROUP <br>
    2. Click on FIND WHATSPP GROUP BUTTON on Top right corner.<br>
    3. Than wait till it complete.<br>
    4. You will see all your whatsapp Groups List after complete.<br>
    5. Switch on Groups Where you want to post Deals.<br>
                   
            </b></h4></div><b> 
            <br><br>
    
       
     <div class="row" id="results"><img src="QrCode/178.1596777689.png" class="img-thumbnail"></div>
    </b></div><b>
    </b></div><b>
    <div>
            <!--footer-->
            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright © Autoaffiliate.in</small>
                    </div>
                </div>
            </footer>
    </div>
            
    
    
    
       
    </b></div></div></div>