<div class="page_data">   
   
  <!--main content wrapper-->
  <div class="content-wrapper">

      <div class="container-fluid">

  
          <div class="row">
              <div class="col-12">
                  <div class="card card-shadow mb-4">
                      <div class="card-header border-0">
                         
                             

<div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Customize your affiliate</h1>
         
        </div>

     <div class="container-fluid">

        <!-- Page Heading -->
        
        <form>
<div class="form-row">
  <div class="form-group col-md-6">
      <label for="inputEmail4" style="color: black;"><b>Amazon Affiliate id</b></label>
      <input type="text" class="form-control" placeholder="put your amazon affiliate id here" id="AmazonDeals" value="">
  </div>
  <div class="form-group col-md-6">
      <label for="input" style="color: black;"><b>Flipkart Affiliate id</b></label>
      <input type="text" class="form-control" placeholder="put your flipkart affiliate id here" id="FlipkartDeals" value="">
  </div>
</div>
  <br> </form>
<form>
<div class="form-row">
  <div class="form-group col-md-6">
      <label for="inputEmail4" style="color: black;"><b>Zingoy Short URL</b></label>
      <input type="text" class="form-control" placeholder="put your zingoy short url here" id="ZingoyDeals" value="">
  </div>
  <div class="form-group col-md-6">
      <label for="input" style="color: black;"><b>Cuelinks Publisher ID</b></label>
      <input type="text" class="form-control" placeholder="put your Cuelinks Publisher ID here" id="CuelinksDeals" value="">
  </div>
  </div></form>
<br>
<form>
<div class="form-row">
  <div class="form-group col-md-6">
      <label for="inputEmail4" style="color: black;"><b>INRDeals Username</b></label>
      <input type="text" class="form-control" placeholder="put your INRDeals Username here" id="InrDeals" value="">
    </div>
  </div>
</form>

<br><br>
<div class="form-row">
  <div class="form-group col-md-6">
      <label for="inputEmail4" style="color: black;"><b>Convert Amazon links with</b></label><br><br>
    <h5 align="left" style="color: black; font-size: 15px;"><b>Default</b></h5>

<label class="switch">
<input type="radio" name="amazon_link" value="amazon">
<span class="slider round"></span>
</label>

<h5 align="left" style="color: black; font-size: 15px;"><b>zingoy</b></h5>

<label class="switch">
<input type="radio" name="amazon_link" value="zingoy">
<span class="slider round"></span>
</label>

 <h5 align="left" style="color: black; font-size: 15px;"><b>Cuelinks</b></h5>

<label class="switch">
<input type="radio" name="amazon_link" value="cuelinks">
<span class="slider round"></span>
</label>
<br>


<h5 align="left" style="color: black; font-size: 15px;"><b>INRDeals</b></h5>

<label class="switch">
<input type="radio" name="amazon_link" value="inr">
<span class="slider round"></span>
</label>
  </div><br><br>
  <div class="form-group col-md-6">
      <label for="input" style="color: black;"><b>Convert Flipkart links with</b></label><br><br>
   <h5 align="left" style="color: black; font-size: 15px;"><b>Default</b></h5>

<label class="switch">
<input type="radio" name="flipkart_link" value="flipkart">
<span class="slider round"></span>
</label>

 <h5 align="left" style="color: black; font-size: 15px;"><b>Zingoy</b></h5>

<label class="switch">
<input type="radio" name="flipkart_link" value="zingoy">
<span class="slider round"></span>
</label>

<h5 align="left" style="color: black; font-size: 15px;"><b>Cuelinks</b></h5>

<label class="switch">
<input type="radio" name="flipkart_link" value="cuelinks">
<span class="slider round"></span>
</label>
<br>


 <h5 align="left" style="color: black; font-size: 15px;"><b>INRDeals</b></h5>

<label class="switch">
<input type="radio" name="flipkart_link" value="inr">
<span class="slider round"></span>
</label>
  </div>
  </div>
<br><br>
<form>
<div class="form-row">
  <div class="form-group col-md-6">
      <label for="inputEmail4" style="color: black;"><b>Convert Other Links with</b></label>
    <div class="form-group col-md-6">
   <h5 align="left" style="color: black; font-size: 15px;"><b>INRDeals</b></h5>

<label class="switch">
<input type="radio" name="other_link" value="inr">
<span class="slider round"></span>
</label>

 <h5 align="left" style="color: black; font-size: 15px;"><b>Zingoy</b></h5>

<label class="switch">
<input type="radio" name="other_link" value="zingoy">
<span class="slider round"></span>
</label>

<h5 align="left" style="color: black; font-size: 15px;"><b>Cuelinks</b></h5>

<label class="switch">
<input type="radio" name="other_link" value="cuelinks">
<span class="slider round"></span>
</label>

  </div>
  </div>
  </div>
  <input type="submit" id="save" value="Save" class="btn btn-outline-dark btn-lg btn-block form-pill">
  


</form></div>
                
                      </div>
                  </div>
              </div>
          </div>
          <!--/sales monitor-->

          <!--member performance & support ticket-->
         
          <!--/member performance & support ticket-->

          

      <!--footer-->
      <footer class="sticky-footer">
          <div class="container">
              <div class="text-center">
                  <small>Copyright © Dealsbhejo.com</small>
              </div>
          </div>
      </footer>
      
      

</div></div></div>