<!--main content wrapper-->
<div class="content-wrapper">

    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-turquoise">
                            <div class="custom-title">Convert Your Deals here</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Convertor</h1>
       
      </div>

 
put here



 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/sales monitor-->

        <!--member performance & support ticket-->
       
        <!--/member performance & support ticket-->

        

    <!--footer-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright &copy; Dealsbhejo.com</small>
            </div>
        </div>
    </footer>
    <!--/footer-->
</div>
<!--/main content wrapper-->