


    <!--main content wrapper-->
    <div class="content-wrapper">

        <div class="container-fluid">

    
            <div class="row">
                <div class="col-12">
                    <div class="card card-shadow mb-5">
                        <div class="card-header border-0">
                            
                               
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Convert Your Deals Here</h1>
  <h5 class="h3 mb-10 text-gray-800"><a href="whatsapphelp.php" class="btn btn-danger" style="font-size: 10px;"><i class="fas fa-question"></i>&nbsp;Help</a></h5>
           
          </div>



<div class="container">

<br>

 <h1 style="font-size: 20px;"><span class="badge badge-danger badge-pill">You are premium user</span></h1> 
<a href="https://t.me/autoaffiliateofficial">  <h1 style="font-size: 20px;"><span class="badge badge-success badge-pill">Join our Telegram group</span></h1> </a>

<br>

</div>
<div class="container">
<table class="table table-bordered table-hover table-responsive-sm">
<thead>

</thead>
<tbody>

<div class="form-group">
 
  <textarea class="form-control" rows="5" id="comment"></textarea>
    <div class="text-center"> 
<br>
      
        <button type="button" class="btn btn-outline-dark btn-lg btn-block form-pill">&nbsp;&nbsp;Convert</button>

       
        </div> 

</div>


</tbody>
    </table>
</div>
<div>
 <h5 align="left"><b>Advance Convertor</b></h5>

<label class="switch">
  <input type="checkbox" >
  <span class="slider round danger"></span>
    </label>

 <h5 align="left"><b>Share without convert</b></h5>

<label class="switch">
  <input type="checkbox" >
  <span class="slider round danger"></span>
    </label>

 <h5 align="left"><b>Convert without share</b></h5>

<label class="switch">
  <input type="checkbox" >
  <span class="slider round danger"></span>
    </label>
<br>
    <br>

 <h5 align="left"><b>Share to Whatsapp</b></h5>

<label class="switch">
  <input type="checkbox" >
  <span class="slider round danger"></span>
    </label>

 <h5 align="left"><b>Share to Telegram</b></h5>
<label class="switch">
  <input type="checkbox" >
  <span class="slider round danger"></span>
    </label>
</div>


   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/sales monitor-->

            <!--member performance & support ticket-->
           
            <!--/member performance & support ticket-->

            

        <!--footer-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright &copy; Dealsbhejo.com</small>
                </div>
            </div>
        </footer>
        <!--/footer-->
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <div class="right-sidebar" id="right_side_bar">
        <div class="card border-0">
            <div class="card-body pb-0">
                <!--close toggle-->
                <a href="javascript:;" class="right_side_toggle float-right close-sidebar-icon">
                    <i class=" ti-shift-right"> </i>
                </a>
                <!--/close toggle-->
            </div>

            <div class="card-body pt-2">

                <div class="right-widget">
                    <div class="custom-title-wrap bar-primary mb-4">
 
                 
                        <div class="user-thumb">
                            <a href="userprofile.html">    <img class="rounded-circle" style="height: 60px; width: 60px;" src="assets/img/avatar/avatar1.jpg" alt=""/></a>
                        </div>
                
                   
                
              <br><br>        

                <div class="right-widget">

                    <div class="custom-title-wrap bar-success mb-2">
                        <div class="custom-title">Notification</div>
                    </div>

                    <div >
                        <div class="dropdown-divider mb-0"></div>
                        <a class="nav-link border-bottom px-0 py-3" href="#">
                            <span class="text-primary">
                            <span class="weight700 f12">
                                <i class="vl_bell weight600 pr-2"></i>New Update</span>
                            </span>
                            <span class="small float-right text-muted">03:14 AM</span>

                            <div class="text-dark f12">
                             new updates come here
                            </div>
                        </a>

                        <a class="nav-link border-bottom px-0 py-3" href="#">
                            <span class="text-danger">
                            <span class="weight700 f12">
                                <i class="vl_Download-circle weight600 pr-2"></i>Payment</span>
                            </span>
                            <span class="small float-right text-muted">10:34 AM</span>

                            <div class="text-dark f12">
                               payment expiry notifictaion comes here
                            </div>
                        </a>

                        <a class="nav-link border-bottom px-0 py-3" href="#">
                            <span class="text-success">
                            <span class="weight700 f12">
                                <i class="vl_screen weight600 pr-2"></i>Other Update</span>
                            </span>
                            <span class="small float-right text-muted">12:30 AM</span>

                            <div class="text-dark f12">
                               Other update comes here
                            </div>
                        </a>
<br>
<a href="index.html" class="btn btn-success" style="font-size: 10px;"><i class="fas fa-plus-square"></i>&nbsp;Open Convertor</a><br><br>
<a href="whatsapplogin.html" class="btn btn-success" style="font-size: 10px;"><i class="fas fa-plus-square"></i>&nbsp;Whatsapp Login</a>

                        
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--/right sidebar-->




















